<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>会員情報編集</h3>
            <%= form_with model: @customer, url: customer_path(current_customer.id), method: :patch do |f| %>
            <table class="table table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row"><label for="inputName">ユーザ名</label></th>
                        <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ユーザ名"%></td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="inputEmail">メールアドレス</th>
                        <td><%= f.text_field :email, autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%></td>
                    </tr>
                </tbody>
            </table>
                <%= f.submit "編集内容を保存", class:"btn btn-success" %>
            <% end %>
            <%= link_to customers_unsubscribe_path, class:"btn btn-danger" do %>
                退会する
            <% end %>
        </div>
    <% if customer_signed_in? %>
        <div class="col-md-4">
            
            <%= render 'public/searches/search', searches: @searches %>
        </div>
    <% end %>
    </div>
</div>