<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="h3text"><%= @customer.name %>さんの店舗一覧</h3>
            <%= link_to "店舗新規投稿へ", new_restaurant_path, class: "btn btn-success" %>
            <table class="table table-borderless">
                <th>店舗画像</th>
                <th>店舗名</th>
                <th>店舗住所</th>
                <th>ジャンル</th>
                <th>営業時間</th>
                <th></th>
            <% @restaurants.each do |restaurant| %>
                <% unless restaurant.is_draft? %>
                    <tr>
                        <td><% if restaurant.image.attached? %>
                              <%= image_tag restaurant.image, size: "200x200" %>
                            <% end %>
                        </td>
                        <td><%= restaurant.name %></td>
                        <td><%= restaurant.address %></td>
                        <td><%= restaurant.genre.name %></td>
                        <td><%= restaurant.opening_hour %></td>
                        <td><%= link_to '編集', edit_restaurant_path(restaurant.id), class: "btn btn-success" %></td>
                        <td><%= link_to '削除', restaurant_path(restaurant.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
                    </tr>
                <% end %>
            <% end %>
            </table>
            <h4 class="h4text"><%= @customer.name %>さんの下書き店舗一覧</h3>
            <table class="table table-borderless">
                <th>店舗画像</th>
                <th>店舗名</th>
                <th>店舗住所</th>
                <th>ジャンル</th>
                <th>営業時間</th>
                <th></th>
                <th></th>
            <% @restaurants.each do |restaurant| %>
                <% if restaurant.is_draft? %>
                    <tr>
                        <td><% if restaurant.image.attached? %>
                              <%= image_tag restaurant.image, size: "200x200" %>
                            <% end %>
                        </td>
                        <td><%= restaurant.name %></td>
                        <td><%= restaurant.address %></td>
                        <td><%= restaurant.genre.name %></td>
                        <td><%= restaurant.opening_hour %></td>
                        <td><%= link_to '編集', edit_restaurant_path(restaurant.id), class: "btn btn-success" %></td>
                        <td><%= link_to '削除', restaurant_path(restaurant.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
                    </tr>
                <% end %>
            <% end %>
            </table>
        </div>
    <% if customer_signed_in? %>
        <div class="col-md-4">
            
            <%= render 'public/searches/search', searches: @searches %>
        </div>
    <% end %>
    </div>
</div>