<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3><%= @customer.name %>さんのレビュー一覧</h3>
            <table class="table table-borderless">
                <th>店舗名</th>
                <th>ジャンル</th>
                <th>レビュー評価</th>
                <th>レビューコメント</th>
                <th></th>
            <% @reviews.each do |review| %>
                <tr>
                    <td><%= review.restaurant.name %></td>
                    <td><%= review.restaurant.genre.name %></td>
                    <td>
                        <span class="star-rating">
                             <span class="star-rating-front" style="width: <%= getPercent(review.overall) %>%;">★★★★★</span>
                             <span class="star-rating-back">★★★★★</span>
                        </span>
                    </td>
                    <td><%= review.coment %></td>
                    <td><%= link_to '編集', edit_review_path(review.id), class: "btn btn-success" %></td>
                    <td><%= link_to "削除", review_path(review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger"  %></td>
                </tr>
            <% end %>
            </table>
        </div>
    <% if customer_signed_in? %>
        <div class="col-md-4">
            
            <%= render 'public/searches/search', searches: @searches %>
        </div>
    <% end %>
    </div>
</div>