<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>店舗一覧</h3>
            <% if customer_signed_in? && current_customer.email != 'guest@example.com'%>
                <%= link_to "店舗新規投稿へ", new_restaurant_path, class: "btn btn-success" %>
            <% end %>
            <table class="table table-borderless">
                <th>店舗画像</th>
                <th>店舗名</th>
                <th>店舗住所</th>
                <th>ジャンル</th>
                <th>営業時間</th>
                <th>評価</th>
                
            <% @restaurants.each do |restaurant| %>
                <tr>
                    <td><% if restaurant.image.attached? %>
                          <%= image_tag restaurant.image, size: "200x200" %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to restaurant_path(restaurant.id) do %>
                        <%= restaurant.name %>
                        <% end %>
                    </td>
                    <td><%= restaurant.address %></td>
                    <td><%= restaurant.genre.name %></td>
                    <td><%= restaurant.opening_hour %></td>
                    <td>
                        <!--<div class="average-score mb-3">-->
                         <!--<div class="star-rating ml-2">-->
                           <!--<div class="star-rating-front" style="width: <#%= restaurant.reviews.average(:overall) %>%">★★★★★</div>-->
                           <!--<div class="star-rating-back">★★★★★</div>-->
                         <!--</div>-->
                         <div class="average-score-display">
                           <!--（<%#= restaurant.reviews.overall.avg_score %>点）-->
                           <%= restaurant.reviews.average(:overall) %>点
                         </div>
                        <!--</div>-->
                    </td>
                    
                </tr>
            <% end %>
            </table>
        </div>
    </div>
</div>