<div class="container">
    <div class="row">
       <div class="col-md-10 col-md-offset-1">
           <h3>グルメマップ</h3>
            <input id="address" type="textbox" value="立川市">
            <input type="button" value="Encode" onclick="codeAddress()">
           <div id="display"></div>
            <div id='map'></div>

            <style>
            #map {
              height: 600px;
              width: 600px;
            }
            </style>
            
            <script>
            let map
            let geocoder
            var marker = [];
            let infoWindow = [];
            var markerData = [ // マーカーを立てる場所名・緯度・経度
            <% @restaurants.each do|restaurant| %>
              {
                lat: <%= restaurant.latitude %>,
                lng: <%= restaurant.longitude %>,
                name: '<%= restaurant.name %>',
                restaurant_id: <%= restaurant.id %>
              },
            <% end %>
            ];
            var test ={lat: 35.6978368 , lng: 139.4137252 };
            
            const display = document.getElementById('display')
            
            function initMap(){
              geocoder = new google.maps.Geocoder()
              
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: test
                  });
              
              
               //var test ={lat: <%#= restaurant.latitude %>, lng: <%#= restaurant.longitude %>};
              
                           // マーカー毎の処理
             for (var i = 0; i < markerData.length; i++) {
                    markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
                    marker[i] = new google.maps.Marker({ // マーカーの追加
                     position: markerLatLng, // マーカーを立てる位置を指定
                        map: map // マーカーを立てる地図を指定
                   });
             　
              let restaurant_id = markerData[i]['restaurant_id']
              infoWindow[i] = new google.maps.InfoWindow({
                // 吹き出しの内容
                content: `<a href='/restaurants/${ restaurant_id }'>${ markerData[i]['name'] }</a>`
              });
                console.log(marker[i]);

  
              // マーカーにクリックイベントを追加
             markerEvent(i);

            }
              
              <%# end %>
    
            //   }
            // }
    
            }
              

            // マーカーをクリックしたら吹き出しを表示
            function markerEvent(i) {
                marker[i].addListener('click', function(e) {
                    infoWindow[i].open(map, marker[i]);
                });
            }
            

            function codeAddress(){
              let inputAddress = document.getElementById('address').value;
            
              geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                if (status == 'OK') {
                  map.setCenter(results[0].geometry.location);
                  var marker = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location
                  });
                } else {
                  alert('該当する結果がありませんでした：' + status);
                }
              });   
            }
            
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
            
       </div>
    </div>
</div>