<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>レビュー一覧</h3>
            
            <table class="table table table-borderless">
                <thead>
                    <tr>
                        <th>店舗名</th>
                        <th>レビュー評価</th>
                        <th>レビューコメント</th>
                        <th>レビュー日時</th>
                    </tr>
                </thead>
                <% @reviews.each do |review| %>
                    <tbody>
                        <tr>
                            <td><%= review.restaurant.name %></td>
                            <td>
                                <span class="star-rating">
                                 <span class="star-rating-front" style="width: <%= getPercent(review.overall) %>%;">★★★★★</span>
                                 <span class="star-rating-back">★★★★★</span>
                                </span>
                            </td>
                            <td>
                                <%= link_to review_path(review.id) do %>
                                <%= review.coment %>
                                <% end %>
                            </td>
                            <td><%= review.created_at %></td>
                            <td>
                                <% if review.customer == current_customer %>
                                    <%= link_to '編集', edit_review_path(review.id), class: "btn btn-success" %>
                                <% end %>
                            </td>
                            <td>
                                <% if review.customer == current_customer %>
                                    <%= link_to "削除", review_path(review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger"  %>
                                <% end %>
                            </td>
                        </tr>
                    </tbody>
                <% end %>
            </table>
            
        </div>
    <% if customer_signed_in? %>
        <div class="col-md-4">
            
            <%= render 'public/searches/search', searches: @searches %>
        </div>
    <% end %>
    </div>
</div>